.tw-featured-products {
  padding-top: 1rem;
  padding-bottom: 1rem;

  h2 {
    color: #404040;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
  }

  .btn-view-all {
    top: 0;
    right: 0;
    color: #7e3c7e;
    font-size: 16px;
    text-decoration: underline;
  }
}
