<div class="recommended-container" style="padding:0;height:0;visibility: hidden;">
  <p class="title">Customers Also Bought</p>
  <div class="swiper">
    <div class="swiper-wrapper"></div>
    <div class="swiper-button-prev"><span class="arrow">❮</span></div>
    <div class="swiper-button-next"><span class="arrow">❯</span></div>
  </div>
</div>