.no-result-container {
  margin-bottom: 12px;

  span {
    margin-right: 12px;
  }

  .btn-reset-filters {
    color: #333;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding: 1px 8px;
  }

  .txt-popular-products {
    color: #111;
    font-size: 24px;
  }
}
