.btn-size-chart {
  color: #7e3c7e;
  font-size: 14px;
  background: white;
  padding: 6.5px 16px;
  border: 1.5px solid #7e3c7e;
  line-height: 1.3;
  white-space: nowrap;

  i {
    font-size: 15px;
    margin-left: 5px;
  }

  &:hover {
    color: white;
    background: #7e3c7e;
  }
}
