.shop-the-look-swiper {
  --swiper-width: 270px;
  --swiper-height: 200px;

  .swiper-container {
    height: var(--swiper-height);
  }

  .swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
  }

  .swiper-slide {
    width: var(--swiper-width) !important;
    height: var(--swiper-height);
    background-color: #f2f2f2;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    --swiper-theme-color: #7e3d7e;

    .swiper-image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center center;
    }

    * {
      pointer-events: none;
    }
  }

  .swiper-label {
    height: 38px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 0.55);
    border-radius: 8px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 8px;

    .icomoon {
      width: 21px;
      font-size: 20px;
      display: inline-block;
      margin-right: 8px;
    }
  }

  .swiper-prev,
  .swiper-next {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 0;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(black, 0.25);
    position: absolute;
    top: 50%;
    margin-top: -18px;
    cursor: pointer;
    z-index: 2;

    &.is-disabled {
      display: none;
    }
  }

  .swiper-prev {
    left: 15px;
  }

  .swiper-next {
    right: 15px;

    .icomoon-arrow-4 {
      transform: rotate(180deg);
    }
  }
}
