/*
.stamped-reviews-container {
  .stamped-badge-starrating {
    color: #ffd700;
    line-height: 1;
    margin: 0 2px 0 0;
    vertical-align: middle;

    .spr-icon {
      font-size: 13px;
      top: auto;
      width: auto;
      height: auto;
      margin: 0 1px 0 0;
    }
  }

  .stamped-badge-caption {
    color: #999;
    font-size: 13px;

    &::after {
      content: '' !important;
    }
  }
}
*/
