// colors
$colorPurple: #7e3c7e;

.main-container {
  margin-top: 50px;
  width: 756px;

  @include respondMax($respondMD) {
    width: 100%;
  }

}

.left-container {
  width: 50%;

  @include respondMax($respondMD) {
    width: 100%;
  }

  .title {
    margin-bottom: 0;
    font-family: Athelas, serif;
    font-size: 32px;
    font-weight: bold;
  }

  .sub {
    padding: 0 10px;
    font-size: 18px;
    line-height: 1.4;
  }

  .btn {
    font-size: 16px;
    border-radius: 30px;
    text-transform: capitalize;
    padding: 12px 40px;
  }

  .btn-shop-all {
    color: $colorPurple;
    font-weight: normal;
    background-color: white;
    border: 1.6px solid $colorPurple;
  }
}

.right-container {
  width: 50%;

  @include respondMax($respondMD) {
    width: 70%;
  }
}