.stl-search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;

  input {
    margin-bottom: 0;
    padding: 8px 50px 8px 20px;
    border-radius: 50px;
    border: 1px #EAEAEA solid;
    width: 360px;

    @include respondMax(768) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: #666666;
    font-size: 22px;
    line-height: 1;
  }
}